/*wrapper for whole component*/
.wrapper{
    width:83vw;  
    box-sizing: border-box;
    padding:1rem;
}

/*styling of title*/
.heading{
    color: #ff971d;
    margin-left: 4rem;
    margin-bottom: 2rem;
    font-family: Julius Sans One;
    font-weight:  bolder;
    text-shadow: red 1px 0 2px; 
    text-decoration: underline;
    text-decoration-color:crimson;
}

/*Starting of form styling*/
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
   
}


input:focus,select:focus, button:focus{
  box-shadow: none;
  background-color: none;
}
 .itemname,.itemDescription, .itemPrice, .form input, .uploadImage, .type, .speciality, .status,  .subCategory, select{
    width:25rem;
    margin-top:1rem;
    
}
 
.submit{
    margin-top: 1rem;
    width: 10rem;
    margin-left: 5rem;
}

#exclaim{
    
    position: relative;
    top:-2rem;
    font-size: large;
    left:21.5rem;
    color:red;
}
#check{
    position: relative;
    top:-2rem;
    font-size: large;
    left:21.5rem;
    color:green;
    background-color: white;


}

#pattern{
	position: relative;
	max-width: 20rem;
    top:5px;
    left:1rem;
	color:white;
	background-color: red;
	padding: 0.2rem 0.2rem;
	font-size: 12px;
    border-radius: 1rem;
    text-align: center;
  
}

#pattern::before {
	
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 0.9rem; 
	border: .4rem solid transparent;
	border-top: none;	
	border-bottom-color: red;
	
}
button:hover{
    opacity: 0.9;
}
label{
    color:darkblue;
    margin-bottom: -4px;
}

/*End of form styling*/



.image-wrapper li {
    width: 150px;
    height: 150px;
    margin: 10px;
    float: left;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff;
    margin-bottom: 25px;
}
.browse-btn {
    box-sizing: border-box;
    display: inline-block;
    margin: 0.5rem;
    position: relative;
    width: 150px;
    height: 150px;
    border:1px solid #ccc;
    text-align: center;
}
.browse-image {
    position: relative;
    top: 25%;
}
.product-image{
    width:100%;
    height:125px;
}
a.delete-btn {
    color: #f00;
    cursor: pointer;
}
#cameraImg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    z-index: 3;
}
.error {
    color: #ff0000;
}
